@{
    Layout = "~/views/Shared/Glove/Layout.cshtml";
}

<div class="container marketing">
    <div class="row">
        <div class="col-lg-4" style="width:970px; background-color:lightgreen">
            <h2>Ansell Gloves</h2>
            <p>
                Ansell is the only major glove manufacturer to offer both
                a surgical and exam glove that protects against Type I
                and Type IV allergies. We offer gloves that are natural rubber
                latex-free and accelerator-free. That’s because Ansell is
                committed to reducing glove allergenicity at every stage
                of the manufacturing process. Our synthetic gloves are
                also powder-free, so you get needed barrier protection
                without problems associated with glove powders.
                All of Ansell’s latex-free, powder-free surgical gloves
                meet or exceed ASTM surgical glove standards, and are
                manufactured to quality management systems of ISO
                9001, ISO 13485, FDA-QSR, and CE Certification.
            </p>
            <br />
            <p>
                The presence of glove powder can be a real problem in surgical suites.
                There is overwhelming evidence that documents the potential negative
                effects of powders on both patients and healthcare workers. Ansell was
                the first major company to address powder-related concerns with a
                diverse line of surgical gloves to enable a totally powder-free environment.
                That’s why we offer a full line of quality latex, powder-free surgical
                gloves for effective barrier protection as well as reducing the risk
                of post-operative complications.
            </p>
            <br />
            <p>
                Encore
                Underglove latex, powder-free surgical gloves offer exceptional
                dexterity, tactile sensitivity, outstanding strength and barrier protection
                when double-gloving	is required.  The Encore
                Underglove is also designed to retain moisture and rehydrate your skin, despite continual
                glove-wearing and frequent contact with astringent hand cleaners and
                disinfectants.	The	Encore
                Underglove can be used as an underglove,
                or for individual use.
            </p>
        </div>

        <div class="col-lg-4" style="width:180px; height:60px; background-color:white">
            <img class="img" src="~/Images/pic16.jpg" alt="Generic placeholder image" width="140" height="140">
        </div>
    </div>
</div>