@{
    Layout = "~/views/Shared/Brufen/Layout.cshtml";
}

<div class="container marketing">
    <div class="row">
        <div class="col-lg-4" style="width:970px; background-color:lightgreen">
            <h2>BRUFEN</h2>
            <p>
                Brufen is indicated for its analgesic and anti-inflammatory effects in the treatment of rheumatoid arthritis (including juvenile rheumatoid arthritis or Still's disease), ankylosing spondylitis, osteoarthritis and other non-rheumatoid (seronegative) arthropathies.
                In the treatment of non-articular rheumatic conditions, Brufen is indicated in periarticular conditions such as frozen shoulder (capsulitis), bursitis, tendonitis, tenosynovitis and low back pain; Brufen can also be used in soft tissue injuries such as sprains and strains.
                Brufen is also indicated for its analgesic effect in the relief of mild to moderate pain such as dysmenorrhoea, dental and post-operative pain and for symptomatic relief of headache, including migraine headache.
                <br/>
                <br/>
                Undesirable effects may be minimised by using the lowest effective dose for the shortest duration necessary to control symptoms (see section 4.4).
                Adults: The recommended dosage of Brufen is 1200-1800 mg daily in divided doses. Some patients can be maintained on 600-1200 mg daily. In severe or acute conditions, it can be advantageous to increase the dosage until the acute phase is brought under control, provided that the total daily dose does not exceed 2400 mg in divided doses.
                Children: The daily dosage of Brufen is 20 mg/kg of body weight in divided doses.
                <br/>
                <br/>
                In Juvenile Rheumatoid Arthritis, up to 40 mg/kg of body weight daily in divided doses may be taken.
                Not recommended for children weighing less than 7 kg.
                Elderly: The elderly are at increased risk of serious consequences of adverse reactions. If an NSAID is considered necessary, the lowest effective dose should be used and for the shortest possible duration. The patient should be monitored regularly for GI bleeding during NSAID therapy. If renal or hepatic function is impaired, dosage should be assessed individually.
                For oral administration. To be taken preferably with or after food, with a glass of water. Brufen tablets should be swallowed whole and not chewed, broken, crushed or sucked on to avoid oral discomfort and throat irritation.
            </p>
        </div>

        <div class="col-lg-4" style="width:180px; height:60px; background-color:white">
            <img class="img" src="~/Images/pic26.jpg" alt="Generic placeholder image" width="140" height="140">
        </div>
    </div>
</div>