@{
    Layout = "~/views/Shared/Burite/Layout.cshtml";
}

<div class="container marketing">
    <div class="row">
        <div class="col-lg-4" style="width:970px; background-color:lightgreen">
            <h2>Burite Infusion</h2>
            <p>
                <h3> Quick Details</h3>

                <h4>Properties: Medical Polymer Materials & Products Type: Transfusion Apparatus Brand Name: Jianshi Model Number: iv burette set SJB07 Place of Origin: Henan, China (Mainland) Certificates approval: CE,ISO Capacity: 100&150ml Fluid Filter: With or without Connector: Luer slip or luer lock Drops/ml: 60 Y-site: With or without Delivery Date: 30 days OEM Service: Available Sterilization: By EO Gas Delivery Mode: FOBQingdao, China
                Packaging & Delivery

                Packaging Details:	Export Standard Packing
                Delivery Detail:	15-20 days </h4>
                <br/>
                <h3> Specifications</h3>

               <h4> Burette infusion set
                CE-approved
                Capacity: 100 and 150mL
                Vented spike with valve
                Fluid filter or without fluid filter
                </h4>
            </p>
        </div>

        <div class="col-lg-4" style="width:180px; height:60px; background-color:white">
            <img class="img" src="~/Images/pic17.jpg" alt="Generic placeholder image" width="140" height="140">
        </div>
    </div>
</div>