@{
    Layout = "~/views/Shared/Butterfly/Layout.cshtml";
}

<div class="container marketing">
    <div class="row">
        <div class="col-lg-4" style="width:970px; background-color:lightgreen">
            <h2>Butterfly Needles</h2>
            <p>
                The butterfly offers advantages over a simple straight needle. The butterfly's flexible tubing reaches more body surface and tolerates more patient movement. The butterfly's precise placement facilitates venipuncture of thin, "rolling", fragile, or otherwise poorly accessible veins. The butterfly's shallow-angle insertion design facilitates venipuncture of very superficial veins, e.g. hand, wrist, or scalp veins (hence name "scalp vein" set).
                <br/>
                Butterflies are commonly available in 18-27 gauge bore,[1] 21G and 23G being most popular. Indeed, in phlebotomy, there is widespread avoidance of 25G and 27G butterflies based on belief that such small-bore needles hemolyze and/or clot blood samples and hence invalidate blood tests.[2]
                <br/>
                Contrary to this widespread belief, theoretical calculation and in vitro experiment both showed the exact opposite: namely, that shear stress and hence hemolysis decrease with decreasing needle bore (but the decrease can be clinically insignificant).[3] In agreement with these results, a subsequent clinical trial found that 21G, 23G, and 25G butterflies connected directly to vacuum tubes caused the same amount of hemolysis and gave the same coagulation panel test results.
            </p>
        </div>

        <div class="col-lg-4" style="width:180px; height:60px; background-color:white">
            <img class="img" src="~/Images/pic18.jpg" alt="Generic placeholder image" width="140" height="140">
        </div>
    </div>
</div>