@{
    Layout = "~/views/Shared/Cannula/Layout.cshtml";
}

<div class="container marketing">
    <div class="row">
        <div class="col-lg-4" style="width:970px; background-color:lightgreen">
            <h2>B CAT Cannula</h2>
            <p>
                A cannula (from Latin "little reed"; plural cannulae or cannulas) is a tube that can be inserted into the body, often for the delivery or removal of fluid or for the gathering of data. In simple terms, a cannula can surround the inner or outer surfaces of a trocar needle thus extending needle approach to a vein by half or more of the length of the introducer.
                <br/>
                Cannulae normally come with a trocar attached, which allows puncturing of the body in order to get into the intended space. Many types of cannulae exist:
                Intravenous cannulae are the most common in hospital use. A variety of cannulae are used to establish cardiopulmonary bypass in cardiac surgery. A nasal cannula is a piece of plastic tubing that runs under the nose and is used to administer oxygen.
                <br/>
                A collection of blood, which can result from failure to puncture the vein when the cannula is inserted or when the cannula is removed. Selection of an appropriate vein and gently applying pressure slightly above the insertion point on removal of the cannula may prevent this.
            </p>
        </div>

        <div class="col-lg-4" style="width:180px; height:60px; background-color:white">
            <img class="img" src="~/Images/pic22.jpg" alt="Generic placeholder image" width="140" height="140">
        </div>
    </div>
</div>