@{
    Layout = "~/views/Shared/Netto/Layout.cshtml";
}

<div class="container marketing">
    <div class="row">
        <div class="col-lg-4">
            <img src="~/Images/pic20.jpg " />
        </div>
    </div>
</div>
<br />
<br />

<div class="bs-docs-header" id="content1" style="background-color:darkviolet; color:white; padding-top:20px; padding-bottom:20px;" tabindex="-1">
    <div class="container">
        <p> 
            The Company have different kind of Netto Surgical Tape that is mentioned below these are different with capacity of product.
            <br/>
            <br/>
            This Item is catagorized only for their different Sizes like :
            <br/>
            <h4>
                <label style="margin-left:50px"> i.   Netto Surgical of 1"  </label> <br />
                <label style="margin-left:50px"> ii.  Netto Surgical of 0.5" </label> <br />
                <label style="margin-left:50px"> iii. Netto Surgical of 2"   </label>> <br />
                <label style="margin-left:50px"> iv.  Netto Surgical of 3"  </label> <br />
                <label style="margin-left:50px"> v.   Netto Surgical of 4"  </label>
            </h4>
            <br/>
            All these catagorices is formed from same type of Material and only different due to thier different sizes. And company take the stock of individual item according to the demand of the Custmor.
        </p>
    </div>
</div>

<br />
<br />
