@{
    Layout = "~/views/Shared/Cannula/Layout.cshtml";
}

<div class="container marketing">
    <div class="row">
        <div class="col-lg-4">
            <img src="~/Images/pic23.jpg " />
        </div>
    </div>
</div>
<br />
<br />

<div class="bs-docs-header" id="content1" style="background-color:darkviolet; color:white; padding-top:20px; padding-bottom:20px;" tabindex="-1">
    <div class="container">
        <p>
            The Company have different kind of B CAT Cannula that is mentioned below these are different with capacity of product.
            <br />
            <br />
            This Item is catagorized only for their different Sizes like :
            <br />
            <h4>
                <label style="margin-left:50px"> i.   BCAT Cannula of 18" </label> <br />
                <label style="margin-left:50px"> ii.  BCAT Cannula of 20" </label> <br />
                <label style="margin-left:50px"> iii. BCAT Cannula of 22" </label>> <br />
            </h4>
            <br />
            All these catagorices is formed from same type of Material and only different due to thier different sizes. And company take the stock of individual item according to the demand of the Custmor.
        </p>
    </div>
</div>

<br />
<br />
