@{
    Layout = "~/views/Shared/Glove/Layout.cshtml";
}

<div class="container marketing">
    <div class="row">
        <div class="col-lg-4">
            <img src="~/Images/pic19.jpg " />
        </div>
    </div>
</div>
<br />
<br />

<div class="bs-docs-header" id="content1" style="background-color:darkviolet; color:white; padding-top:20px; padding-bottom:20px;" tabindex="-1">
    <div class="container">
        <p> The Company have different kind of Ansell Gloves that is mentioned below these are different with capacity of product.</p>
        <br/>
        <p>
            Ansell Gloves are only Catagorized due to their different sizes. Information of Sizes can be understan as:
            <br/>
           <h3> Ansell Glove Sizing Information</h3>

            How to figure out which size glove you need

            To know what size glove you need, you must first find out your hand size. To do this, measure around your hand, above the thumb and below the fingers. The best tool for this is a dressmaker’s cloth tape measure, but you can also wrap a strip of paper around your hand, mark the length, and then flatten the paper out to find the length on an ordinary ruler.
            Your hand diameter in inches measured in this manner, rounded to the nearest half-inch, is numerically equal to your nominal glove size. (If you are using a metric tape measure, divide cm by 2.5 to obtain your hand size.) For example: if the measurement taken is 8 inches, then you would select a size 8 glove. If your measurement is over 8 inches then you should select the next size larger in order to avoid hand fatigue from a glove that is too small.

            Note that this measurement for glove size is made on the hand. Whether you are using thin disposable gloves, thick gloves padded with insulation, or anything in between, your glove size will be about the same.

            This system does not account for all possible variations in hand size, of course. For example, some people have long slim fingers and others have short stubby fingers. You may find that the gloves that fit you most comfortably are designated as one-half or even one full size larger or smaller than your measured hand size.

            If the gloves you are purchasing come in lettered sizes such as XS, S, M, L, XL, or XXL, these can be easily translated to a numerical size for easy selection. If you need assistance, refer to the chart provided here:

            Size (Numerical)     Size (Lettered)    Inches    Centimeters

            6                        XS               5-6       15

            7                         S               6-7       18

            8                         M             7 - 8       20

            9                         L              8 -9       23

            10                        XL             9 -10      25

            11                       XXL             10 -11      28
        </p>
    </div>
</div>

<br />
<br />

