@{
    Layout = "~/views/Shared/Netto/Layout.cshtml";
}

<div class="container marketing">
    <div class="row">
        <div class="col-lg-4" style="width:970px; background-color:lightgreen">
            <h2>Netto Surgical Tape</h2>
            <p>
                Surgical tape or medical tape is a type of pressure-sensitive adhesive tape[1] used in medicine and first aid to hold a bandage or other dressing onto a wound. These tapes usually have a hypoallergenic adhesive which is designed to hold firmly onto skin, dressing materials, and underlying layers of tape, but to remove easily without damaging the skin.[2] They allow air to reach the skin ("breathable"). Some breathable tapes such as Kinesiology Tape, and other elastic bandages with adhesive are made of cotton. Surgical tape is often white because it contains zinc oxide, which is added to help prevent infections. Tapes made of microporous material, such as 3M Micropore, are widely used.
                <br/>
                <br/>
                Some types are commonly used in sports to add a non-slip wrapping to things which must be gripped, such as tennis racquets, and hockey and lacrosse sticks, because of their rough texture and removability leaving little residue.
            </p>
        </div>

        <div class="col-lg-4" style="width:180px; height:60px; background-color:white">
            <img class="img" src="~/Images/pic21.jpg" alt="Generic placeholder image" width="140" height="140">
        </div>
    </div>
</div>