@{
    Layout = "~/views/Shared/Panadol/Layout.cshtml";
}

<div class="container marketing">
    <div class="row">
        <div class="col-lg-4" style="width:970px; background-color:lightgreen">
            <h2>PANADOL</h2>
            <p>
                Panadol is a paracetamol based analgesic and provides fast, effective temporary relief of pain and discomfort associated with: headache, tension headache, period pain, cold and flu symptoms, migraine headache, muscular aches, arthritis/osteoarthritis, backache, and toothache.
                <br/>
                Panadol also helps to reduce fever.
                <br/>
                Panadol is a good choice of pain reliever for people with sensitive stomachs, stomach ulcers and other stomach disorders. Panadol can also be used by breast feeding women. 
                <br/>
                Take this product by mouth as directed. Follow all directions on the product package. If you are uncertain about any of the information, consult your doctor or pharmacist.

                There are many brands and forms of acetaminophen available. Read the dosing instructions carefully for each product because the amount of acetaminophen may be different between products. Do not take more acetaminophen than recommended.
            </p>
        </div>

        <div class="col-lg-4" style="width:180px; height:60px; background-color:white">
            <img class="img" src="~/Images/pic28.jpg" alt="Generic placeholder image" width="140" height="140">
        </div>
    </div>
</div>