@{
    Layout = "~/views/Shared/Paracetamol/Layout.cshtml";
}

<div class="container marketing">
    <div class="row">
        <div class="col-lg-4" style="width:970px; background-color:lightgreen">
            <h2>PARACETAMOL</h2>
            <p>
                Paracetamol is classified as a mild analgesic. It is commonly used for the relief of headaches and other minor aches and pains and is a major ingredient in numerous cold and flu remedies. In combination with opioid analgesics, paracetamol can also be used in the management of more severe pain such as post-surgical and cancer pain.[13] Though paracetamol is used to treat inflammatory pain, it is not generally classified as an NSAID because it exhibits only weak anti-inflammatory activity.
                <br/>
                While generally safe for use at recommended doses, even small overdoses can be fatal. Compared to other over-the-counter pain relievers, paracetamol is significantly more toxic in overdose but may be less toxic when used chronically at recommended doses.[14] Paracetamol is the active metabolite of phenacetin and acetanilide, both once popular as analgesics and antipyretics in their own right.[15][16] However, unlike phenacetin, acetanilide and their combinations, paracetamol is not considered carcinogenic at therapeutic doses.[17]
                <br/>
                The words acetaminophen (used in the United States,[11] Canada,[11] Japan, Venezuela and Colombia)[10] and paracetamol (used elsewhere) both come from a chemical name for the compound: para-acetylaminophenol and para-acetylaminophenol. In some contexts, such as on prescription bottles of painkillers that incorporate this medicine, it is simply abbreviated as APAP, for acetyl-para-aminophenol. It is on the WHO Model List of Essential Medicines, a list of the most important medication needed in a basic health system.
            </p>
        </div>

        <div class="col-lg-4" style="width:180px; height:60px; background-color:white">
            <img class="img" src="~/Images/pic27.jpg" alt="Generic placeholder image" width="140" height="140">
        </div>
    </div>
</div>