@{
    Layout = "~/views/Shared/Urine/Layout.cshtml";
}

<div class="container marketing">
    <div class="row">
        <div class="col-lg-4" style="width:970px; background-color:lightgreen">
            <h2>Urine Bags</h2>
            <p>
                Urine drainage bags collect urine. Your bag will attach to a catheter (tube) that is inside your bladder. You may have a catheter and urine drainage bag because you have urinary incontinence (leakage), urinary retention (not being able to urinate), surgery that made a catheter necessary, or another health problem.
                <br/>
                <br/>
                Urinary catheters are used to drain the bladder. Your health care provider may recommend that you use a catheter if you have:
                <br/>
                Urinary incontinence (leaking urine or being unable to control when you urinate)
                Urinary retention (being unable to empty your bladder when you need to)
                Surgery on the prostate or genitals
                Other medical conditions such as multiple sclerosis, spinal cord injury, or dementia
                Catheters come in many sizes, materials (latex, silicone, Teflon™), and types (Foley, straight, coude tip). A Foley catheter, for example, is a soft, plastic or rubber tube that is inserted into the bladder to drain the urine.

                Usually your health care provider will use the smallest possible catheter.
                <br/>
                <br/>
                There are three main types of catheters:

                Indwelling catheter
                Condom catheter
                Intermittent (short-term) catheter
            </p>
        </div>

        <div class="col-lg-4" style="width:180px; height:60px; background-color:white">
            <img class="img" src="~/Images/pic25.jpg" alt="Generic placeholder image" width="140" height="140">
        </div>
    </div>
</div>